
/*==================================
Layout
==================================*/
html,body{	height:100%;}
body {min-width: 1180px;}

/* 1280 layout */
#lay_container,
.tab_master_wrap,
.gnb_top .gnb_top_wrap,
.gnb_bot .gnb_bot_wrap,
.gnb_top_status_wrap,
.gnb_sub_2depth_fixed .gnb_sub_wrap,
.gnb_sub_2depth_basic_dark .gnb_sub_wrap,
.gnb_sub_2depth_basic_light .gnb_sub_wrap, 
.gnb_sub_3depth_basic_dark .gnb_sub_wrap, 
.gnb_sub_3depth_basic_light .gnb_sub_wrap,
.gnb_sub_3depth_full_dark .gnb_sub_wrap,
.gnb_sub_3depth_full_light .gnb_sub_wrap,
.gnb_sub_2depth_mega .gnb_sub_wrap,
.gnb_sub_3depth_mega .gnb_sub_wrap,
.footer_wrap {width: 100%; margin: 0 auto;}

/* 100percent layout */
.lay_100 #lay_container,
.lay_100 .tab_master_wrap,
.lay_100 .gnb_top .gnb_top_wrap,
.lay_100 .gnb_bot .gnb_bot_wrap,
.lay_100 .gnb_top_status_wrap,
.lay_100 .gnb_sub_2depth_fixed .gnb_sub_wrap,
.lay_100 .gnb_sub_2depth_basic_dark .gnb_sub_wrap,
.lay_100 .gnb_sub_2depth_basic_light .gnb_sub_wrap, 
.lay_100 .gnb_sub_3depth_basic_dark .gnb_sub_wrap, 
.lay_100 .gnb_sub_3depth_basic_light .gnb_sub_wrap,
.lay_100 .gnb_sub_3depth_full_dark .gnb_sub_wrap,
.lay_100 .gnb_sub_3depth_full_light .gnb_sub_wrap,
.lay_100 .footer_wrap {width:auto; margin: 0 30px;}
.lay_100 .gnb_sub_2depth_mega .gnb_sub_wrap,
.lay_100 .gnb_sub_3depth_mega .gnb_sub_wrap {width:100%; padding:0 30px; margin:0;}

/* Layout */
.lay_col1 #lay_header {position:relative; z-index:1000; background-color:#fff;}
.lay_col1 #lay_container {position: relative; padding-top:15px; margin-bottom:30px; z-index: 1;}
.lay_col1 #lay_container:after {clear:both; display:block; content:'';}
.lay_col1 #lay_footer {z-index: 2;}

/* Layout */
.lay_col2 #lay_header {position: relative; z-index:1000;}
.lay_col2 #lay_container {position: relative; padding-top:15px; margin-bottom:30px; z-index: 1;}
.lay_col2 #lay_container:after {clear:both; display:block; content:'';}
.lay_col2 #lay_lnb {width: 210px; float: left;}
.lay_col2 #lay_contents {margin-left: 240px;}
.lay_col2 #lay_footer {z-index: 2;}

/* Layout - 레이아웃 2단일경우 해상도 100% */
.lay_col2.lay_100 #lay_header {position: relative; z-index:1000;}
.lay_col2.lay_100 #lay_container {position: relative; padding-top:15px; margin-bottom:30px; z-index: 1;}
.lay_col2.lay_100 #lay_container:after {clear:both; display:block; content:'';}
.lay_col2.lay_100 #lay_lnb {width: 210px; float: left;}
.lay_col2.lay_100 #lay_contents {margin-left: 240px;}
.lay_col2.lay_100 #lay_footer {z-index: 2;}

/* Layout */
.lay_expand_cover #lay_header {position: relative; z-index: 1000;}
.lay_expand_cover #lay_container {padding-top:15px; margin-bottom:30px; z-index: 1;}
.lay_expand_cover #lay_container:after {clear:both; display:block; content:'';}
.lay_expand_cover #lay_lnb {position:absolute; left:-1px; top:0px; box-sizing:border-box; width:0; padding-top:14px; border-right:1px solid #212121; background-color:#fff; z-index:100;}
.unfolded .lay_expand_cover #lay_lnb {box-shadow:2px 0 5px rgba(0, 0, 0, .3);}
.lay_expand_cover #lay_lnb .lnb_basic,
.lay_expand_cover #lay_lnb .lnb_srch {margin-right:20px; margin-left:20px; position:static;}
.folded .lay_expand_cover #lay_lnb .lnb_basic,
.folded .lay_expand_cover #lay_lnb .lnb_srch {margin-left:0;}
.lay_expand_cover #lay_lnb .btn_folder_wrap {top:14px; right:-20px;}
.lay_expand_cover #lay_contents {position: relative;}
.lay_expand_cover #lay_footer {z-index: 2;}

/* Layout */
#headHeight{height:230px;}
#lay_header{position:absolute; left:0; top:0; right:0; height:110px; background:#fff; z-index: 1000;}
/*.lay_expand #lay_header {position: relative; z-index:1000;}*/
.lay_expand{min-height:100%; margin-top:-120px;}
.lay_expand #lay_container {position: relative; padding-top:20px; margin-bottom:30px; z-index: 1;}
.lay_expand #lay_container:after {clear:both; display:block; content:'';}
.lay_expand #lay_lnb {width: 230px; float: left; margin-left:20px;}
.lay_expand #lay_contents {margin-left: 280px; padding-right:20px; }
.lay_footer {clear:both; position:relative; height:80px;}

.gnb_sub {z-index:2;}

/* logo- new */
.color_system {margin-top:15px;}
.color_system .logo_txt {font-weight:bold; font-size:30px; line-height:1.33em; display:inline-block; vertical-align:middle;}	 
.color_system .system_txt {font-weight:bold; font-size:24px; line-height:1.33em; display:inline-block; margin-top:-6px; margin-left:3px; vertical-align:middle;}
/* txt_color1-0 컬러로고 */
.color_system.txt_color1-1 .logo_txt {color:#000;}
.color_system.txt_color1-1 .system_txt {color:#999;}
.color_system.txt_color1-2 .logo_txt {color:#ff7a00;}
.color_system.txt_color1-2 .system_txt {color:#999;}
/* txt_color2-0 단색로고 - 밝은 배경에 사용 */
.color_system.txt_color2-1 .logo_txt {color:#000;}
.color_system.txt_color2-1 .system_txt {color:#999;}
.color_system.txt_color2-2 .logo_txt {color:#000;}
.color_system.txt_color2-2 .system_txt {color:rgba(0, 0, 0, .7);}
/* txt_color3-0 단색로고 - 어두운 배경에 사용 */
.color_system.txt_color3-1 .logo_txt {color:#fff;}
.color_system.txt_color3-1 .system_txt {color:#999;}
.color_system.txt_color3-2 .logo_txt {color:#fff;}
.color_system.txt_color3-2 .system_txt {color:rgba(255, 255, 255, .7);}


/*==================================
Basic GNB
==================================*/
.gnb_top{padding:0 20px;}
/* layout */
.gnb_top_seperate_srch .gnb_top_wrap {height:60px;}
.gnb_top_seperate_srch .gnb_top_wrap:after {clear:both; display:block; content:'';}
.gnb_top_seperate_srch .gnb_top .gnb_left {float:left; }
.gnb_top_seperate_srch .gnb_top .gnb_right {position:relative; float:right; margin-top:30px;}
.gnb_top_seperate_srch .gnb_top .gnb_right > * {vertical-align:top;}
.gnb_top_seperate_srch .gnb_top .gnb_center {text-align:center; height:100%;}
.gnb_top_seperate_srch .gnb_bot {position:relative; background-color:#efefef;}
.gnb_top_seperate_srch .gnb_bot:after {display:block; clear:both; content:'';}
.gnb_top_seperate_srch .gnb_bot .gnb_left {/*float:left;*/ width:98%; margin:0 auto;}
.gnb_top_seperate_srch .gnb_bot .gnb_left .gnb {display:table; width:100%;}
.gnb_top_seperate_srch .gnb_bot .gnb_right {float:right;}
 
/* nav_util */
.gnb_top_seperate_srch .nav_util {position:absolute; right:0px; top:-22px;}
.gnb_top_seperate_srch .nav_util_list {display:inline-block; float:left; padding-left:10px; margin-left:10px; background:url('../images/gnb_top/gnb_top_seperate_srch_line.png') no-repeat left 4px;}
.gnb_top_seperate_srch .nav_util_list:first-child {margin-left:0; background:none;}
.gnb_top_seperate_srch .nav_util_link .name {font-size:11px; color:#b1b0b0;}
.gnb_top_seperate_srch .nav_util_link:hover .name {text-decoration:underline;}

/* logo */
.gnb_top_seperate_srch h1 {display:inline-block;}
.gnb_top_seperate_srch .logo_link {display:block; height:45px; margin-top:15px;}

/* gnb_ban */
.gnb_top_seperate_srch .gnb_ban {display:inline-block; width:210px; height:100%;}

/* gnb_info */
.gnb_top_seperate_srch .gnb_info {display:inline-block;}
.gnb_top_seperate_srch .gnb_info_txt {display:inline-block; text-align:right; vertical-align:middle;}
.gnb_top_seperate_srch .gnb_info_txt .name {font-size:13px; color:#5d5d5d; display:inline-block; margin-right:10px;}
.gnb_top_seperate_srch .gnb_info_txt .name .bu {display:inline-block; width:5px; height:9px; /*margin-right:3px; background:url('../images/gnb_top/gnb_top_seperate_srch.png') no-repeat left top;*/}
.gnb_top_seperate_srch .gnb_info_txt .time {font-size:13px; color:#5d5d5d; display:inline-block; margin-left:10px; margin-right:10px;}
.gnb_top_seperate_srch .gnb_info_txt .admin {font-size:13px; display:inline-block; margin-left:10px; margin-right:10px; border-radius:4px; background:#66626a; padding:2px 8px;}
.admin a{color:#fff!important;font-size:11px;}
.gnb_top_seperate_srch .gnb_info_txt .admin:hover, .gnb_top_seperate_srch .gnb_info_txt .admin:visited, .gnb_top_seperate_srch .gnb_info_txt .admin:active{background:#e60724;}

/* gnb_srch */
.gnb_top_seperate_srch .gnb_srch {width:240px; height:40px; background-color:rgba(255,255,255,.15);}
.gnb_top_seperate_srch .gnb_srch input[type="text"] {box-sizing:border-box; width:185px; height:100%; color:#d5d5d5 !important; padding:4px 0; margin-left:10px; border:none; background-color:transparent;}
.gnb_top_seperate_srch .gnb_srch .button {display:inline-block; width:40px; height:40px; vertical-align:top; background:url(../images/gnb_top/gnb_top_seperate_srch.png) no-repeat -37px 14px;}
.gnb_top_seperate_srch .gnb_srch .button:hover {background-position:-87px 14px;}
.gnb_top_seperate_srch .gnb_srch .someinput::-ms-clear {width:18px; height:18px; line-height:20em !important;}

/* gnb */
.gnb_top_seperate_srch .gnb_list {/*display:inline-block; float:left; margin-left:1px;*/ display:table-cell; width:11.1%; vertical-align:middle; height:50px;}
.gnb_top_seperate_srch .gnb_list:first-child {margin-left:0;}
.gnb_top_seperate_srch .gnb_list:hover,
.gnb_top_seperate_srch .gnb_list.on{background-color:#3c404a;}
.gnb_top_seperate_srch .gnb_list.selected {background-color:#e60724;}
.gnb_top_seperate_srch .gnb_list.selected:hover {background-color:#3c404a;}
.gnb_top_seperate_srch .gnb_link {text-align:center; position:relative; display:block; padding:10px 15px;}
.gnb_top_seperate_srch .gnb_link .name {font-size:14px; line-height:16px; color:#3c3a3b; font-weight:bold;}
.gnb_top_seperate_srch .gnb_list:hover .gnb_link .name,
.gnb_top_seperate_srch .gnb_list.on .gnb_link .name,
.gnb_top_seperate_srch .gnb_list.selected .gnb_link .name {color:#fff;}
.gnb_top_seperate_srch .gnb_link .tri {position:absolute; display:none; left:50%; bottom:-5px; width:9px; height:5px; margin-left:-5px; background:url(../images/gnb_top/gnb_top_seperate_srch_selected_on.png) no-repeat;}
.gnb_top_seperate_srch .gnb_list.selected .gnb_link .tri {background:url(../images/gnb_top/gnb_top_seperate_srch_selected.png) no-repeat;}
.gnb_top_seperate_srch .gnb_list.selected:hover .gnb_link .tri {background:url(../images/gnb_top/gnb_top_seperate_srch_selected_on.png) no-repeat;}
.gnb_top_seperate_srch .gnb_list:hover .gnb_link .tri,
.gnb_top_seperate_srch .gnb_list.on .gnb_link .tri,
.gnb_top_seperate_srch .gnb_list.selected .gnb_link .tri {display:block; z-index:10;}


/*==================================
GNB Sub - 2depth, Fixed
==================================*/
/* layout */
.gnb_sub_2depth_fixed {display:none; border-bottom: 2px solid #e60724; position: absolute; left: 0; width: 100%; background-color: #fff; text-align:left;}

/* 2depth */
.gnb_sub_2depth_fixed .gnb_2depth:after {clear: both; display: block; content: '';}
.gnb_sub_2depth_fixed .gnb_2depth_list {position: relative; display: inline-block; float: left; margin-left: 3px;}
.gnb_sub_2depth_fixed .gnb_2depth_list:first-child {margin-left: 0;}
.gnb_sub_2depth_fixed .gnb_2depth_link {display: block; padding:8px 20px;}
.gnb_sub_2depth_fixed .gnb_2depth_link .name {font-size: 13px; line-height: 20px; font-weight: bold; color: #76787c;}
.gnb_sub_2depth_fixed .gnb_2depth_list:hover .gnb_2depth_link > .name,
.gnb_sub_2depth_fixed .gnb_2depth_list.selected .gnb_2depth_link > .name {color:#e60724;}



/*==================================
GNB Sub - 2depth, Basic, Dark
==================================*/
/* layout */
.gnb_sub_2depth_basic_dark {display:none; position: absolute; left: 0; width: 100%; background-color:#3c404a; text-align:left;}
.gnb_top_basic_basic .gnb_sub_2depth_basic_dark,
.gnb_top_lightion .gnb_sub_2depth_basic_dark {top:60px;} 
.gnb_top_seperate_dark .gnb_sub_2depth_basic_dark, 
.gnb_top_seperate_light .gnb_sub_2depth_basic_dark, 
.gnb_top_seperate_opt .gnb_sub_2depth_basic_dark {top:40px;}

/* 2depth */
.gnb_sub_2depth_basic_dark .gnb_2depth {}
.gnb_sub_2depth_basic_dark .gnb_2depth:after {clear: both; display: block; content: '';}
.gnb_sub_2depth_basic_dark .gnb_2depth_list {position: relative; display: inline-block; float: left; margin-left: 3px;}
.gnb_sub_2depth_basic_dark .gnb_2depth_list:first-child {margin-left: 0;}
.gnb_sub_2depth_basic_dark .gnb_2depth_link {display: block; padding:9px 20px;}
.gnb_sub_2depth_basic_dark .gnb_2depth_link .name {font-size: 13px; line-height: 20px; font-weight: bold; color: #e1e2e6;}
.gnb_sub_2depth_basic_dark .gnb_2depth_list:hover,
.gnb_sub_2depth_basic_dark .gnb_2depth_list.selected {background-color: #e60724;}
.gnb_sub_2depth_basic_dark .gnb_2depth_list:hover .gnb_2depth_link > .name,
.gnb_sub_2depth_basic_dark .gnb_2depth_list.selected .gnb_2depth_link > .name {color: #fff;}


/*==================================
GNB Sub - 2depth, Basic, Light
==================================*/
/* layout */
.gnb_sub_2depth_basic_light {display: none; border-bottom: 2px solid #e60724; position: absolute; left: 0; width: 100%; background-color: #fff; text-align:left;}
.gnb_top_basic_basic .gnb_sub_2depth_basic_light, 
.gnb_top_lightion .gnb_sub_2depth_basic_light {top:60px;} 
.gnb_top_seperate_dark .gnb_sub_2depth_basic_light,
.gnb_top_seperate_light .gnb_sub_2depth_basic_light,
.gnb_top_seperate_opt .gnb_sub_2depth_basic_light {top:40px;}

/* 2depth */
.gnb_sub_2depth_basic_light .gnb_2depth {}
.gnb_sub_2depth_basic_light .gnb_2depth:after {clear: both; display: block; content: '';}
.gnb_sub_2depth_basic_light .gnb_2depth_list {position: relative; display: inline-block; float: left; margin-left: 3px;}
.gnb_sub_2depth_basic_light .gnb_2depth_list:first-child {margin-left: 0;}
.gnb_sub_2depth_basic_light .gnb_2depth_link {display: block; padding:8px 20px;}
.gnb_sub_2depth_basic_light .gnb_2depth_link .name {font-size: 13px; line-height: 20px; font-weight: bold; color: #76787c;}
.gnb_sub_2depth_basic_light .gnb_2depth_list:hover .gnb_2depth_link > .name,
.gnb_sub_2depth_basic_light .gnb_2depth_list.selected .gnb_2depth_link > .name {color:#e60724;}



/*==================================
GNB Sub - 2depth, Vertical, Dark
==================================*/
.gnb_sub_2depth_vert_dark {display:none; position: absolute; background-color:#3c404a; text-align:left;}
.gnb_sub_2depth_vert_dark .gnb_sub_wrap {box-sizing:border-box; min-width:120px; padding:10px 0;}
.gnb_sub_2depth_vert_dark .gnb_2depth_list { padding:3px 20px;}
.gnb_sub_2depth_vert_dark .gnb_2depth_list:hover {background:#e60724;color:#fff;}
.gnb_sub_2depth_vert_dark .gnb_2depth_link {display:block; padding:6px 0;}
.gnb_sub_2depth_vert_dark .gnb_2depth_link .name {font-size:13px; line-height:1.33em; color:rgba(255, 255, 255, .7); font-weight:bold;}
.gnb_sub_2depth_vert_dark .gnb_2depth_list.selected .name,
.gnb_sub_2depth_vert_dark .gnb_2depth_link:hover .name {color:#fff;}


/*==================================
GNB Sub - 2depth, Vertical, Light
==================================*/
.gnb_sub_2depth_vert_light {display:none; border:1px solid #e60724; border-top:0; position: absolute; background-color: #fff; text-align:left;}
.gnb_sub_2depth_vert_light .gnb_sub_wrap {box-sizing:border-box; min-width:120px; padding:10px;}
.gnb_sub_2depth_vert_light .gnb_2depth_list {}
.gnb_sub_2depth_vert_light .gnb_2depth_link {display:block; padding:6px 0;}
.gnb_sub_2depth_vert_light .gnb_2depth_link .name {font-size:13px; line-height:1.33em; color:#737373; font-weight:bold;}
.gnb_sub_2depth_vert_light .gnb_2depth_list.selected .name,
.gnb_sub_2depth_vert_light .gnb_2depth_link:hover .name {color:#e60724;}



/*==================================
GNB Sub - 3depth, Basic, Dark
==================================*/
/* layout */
.gnb_sub_3depth_basic_dark {display:none; position: absolute; left: 0; width: 100%; background-color:#3c404a; text-align:left;}
.gnb_top_basic_basic .gnb_sub_3depth_basic_dark,
.gnb_top_lightion .gnb_sub_3depth_basic_dark {top:60px;} 
.gnb_top_seperate_dark .gnb_sub_3depth_basic_dark, 
.gnb_top_seperate_light .gnb_sub_3depth_basic_dark, 
.gnb_top_seperate_opt .gnb_sub_3depth_basic_dark {top:40px;}

/* 2depth */
.gnb_sub_3depth_basic_dark .gnb_2depth {}
.gnb_sub_3depth_basic_dark .gnb_2depth:after {clear: both; display: block; content: '';}
.gnb_sub_3depth_basic_dark .gnb_2depth_list {position: relative; display: inline-block; float: left; margin-left: 3px;}
.gnb_sub_3depth_basic_dark .gnb_2depth_list:first-child {margin-left: 0;}
.gnb_sub_3depth_basic_dark .gnb_2depth_link {display: block; padding: 9px 20px;}
.gnb_sub_3depth_basic_dark .gnb_2depth_link .name {font-size: 13px; line-height: 20px; font-weight: bold; color: #e1e2e6;}
.gnb_sub_3depth_basic_dark .gnb_2depth_list:hover,
.gnb_sub_3depth_basic_dark .gnb_2depth_list.selected {background-color: #e60724;}
.gnb_sub_3depth_basic_dark .gnb_2depth_list:hover .gnb_2depth_link > .name,
.gnb_sub_3depth_basic_dark .gnb_2depth_list.selected .gnb_2depth_link > .name {color: #fff;}

/* 3depth */
.gnb_sub_3depth_basic_dark .gnb_3depth_box {position: absolute; width: 100%; z-index: 10; display: none;}
.gnb_sub_3depth_basic_dark .gnb_3depth {border:1px solid #e60724; border-top:none; padding:13px 10px; background-color:#fff;}
.gnb_sub_3depth_basic_dark .gnb_3depth_list {}
.gnb_sub_3depth_basic_dark .gnb_3depth_link {display: block; padding:6px 0;}
.gnb_sub_3depth_basic_dark .gnb_3depth_link .name {font-size: 12px; color: #76787c; font-weight:bold;}
.gnb_sub_3depth_basic_dark .gnb_3depth_list:hover .name {color: #e60724;}



/*==================================
GNB Sub - 3depth, Basic, Light
==================================*/
/* layout */
.gnb_sub_3depth_basic_light {display: none; border-bottom: 2px solid #e60724; position: absolute; left: 0; width: 100%; text-align:left; background-color: #fff;}
.gnb_top_basic_basic .gnb_sub_3depth_basic_light, 
.gnb_top_lightion .gnb_sub_3depth_basic_light {top:60px;}
.gnb_top_seperate_dark .gnb_sub_3depth_basic_light,
.gnb_top_seperate_light .gnb_sub_3depth_basic_light,
.gnb_top_seperate_opt .gnb_sub_3depth_basic_light {top:40px;}

/* 2depth */
.gnb_sub_3depth_basic_light .gnb_2depth {}
.gnb_sub_3depth_basic_light .gnb_2depth:after {clear: both; display: block; content: '';}
.gnb_sub_3depth_basic_light .gnb_2depth_list {position: relative; display: inline-block; float: left; margin-left: 3px;}
.gnb_sub_3depth_basic_light .gnb_2depth_list:first-child {margin-left: 0;}
.gnb_sub_3depth_basic_light .gnb_2depth_link {display: block; padding: 8px 20px;}
.gnb_sub_3depth_basic_light .gnb_2depth_link .name {font-size: 13px; line-height: 20px; font-weight: bold; color: #76787c;}
.gnb_sub_3depth_basic_light .gnb_2depth_list:hover,
.gnb_sub_3depth_basic_light .gnb_2depth_list.selected {background-color: #e60724;}
.gnb_sub_3depth_basic_light .gnb_2depth_list:hover .gnb_2depth_link > .name,
.gnb_sub_3depth_basic_light .gnb_2depth_list.selected .gnb_2depth_link > .name {color: #fff;}

/* 3depth */
.gnb_sub_3depth_basic_light .gnb_3depth_box {position: absolute; width: 100%; z-index: 10; display: none;}
.gnb_sub_3depth_basic_light .gnb_3depth {border:1px solid #e60724; border-top-width:2px; padding:13px 10px; background-color: #fff;}
.gnb_sub_3depth_basic_light .gnb_3depth_list {}
.gnb_sub_3depth_basic_light .gnb_3depth_link {display: block; padding: 6px 0;}
.gnb_sub_3depth_basic_light .gnb_3depth_link .name {font-size: 12px; color: #76787c; font-weight:bold;}
.gnb_sub_3depth_basic_light .gnb_3depth_list:hover .name {color: #e60724;}



/*==================================
GNB 상단 고정
==================================*/
#lay_wrap.gnb_fixed #lay_header {position:fixed;  top: 0; left: 0; right: 0;margin:0 20px; background:#fff;}
#lay_wrap.gnb_fixed #lay_container {padding-top:100px;}
#lay_wrap.gnb_fixed #lay_container .loc_info_basic {position: absolute; right: 0; top:90px; text-align: right;}


/*==================================
Master tab
==================================*/
.tab_master {padding-top:5px; border-bottom:1px solid #555; background-color:#ebebeb;}
.tab_master .tab_master_wrap {margin-bottom:-1px;}
.tab_master .tab_list_wrap {margin-right:130px; overflow:hidden; margin-bottom:-1px;}
.tab_master .tab_list {display:inline-block; white-space:nowrap;}

.tab_master .tab_item {position:relative; display:inline-block; padding-right:30px; border-top-left-radius:4px; border-top-right-radius:4px; border:1px solid #d2d4d9; border-bottom-width:0; vertical-align:top; background-color:#f5f5f5;}
.tab_master .tab_item.selected {border:1px solid #555; border-bottom-color:#fff; background-color:#fff;}
.tab_master .tab_link {font-size:13px; line-height:1.3em; color:#7a7e87; font-weight:bold; display:block; padding:5px 10px;}
.tab_master .tab_item:hover .tab_link,
.tab_master .tab_item.selected .tab_link {color:#e60724;}
.tab_master .tab_item .tab_close {position:absolute; right:4px; top:0; display:inline-block; width:25px; height:25px; background:url(../images/tab/tab_master.png) -2px -2px no-repeat;}
.tab_master .tab_item .tab_close:hover {background-position:-52px -2px;}

.tab_master .tab_master_right {display:inline-block; float:right; vertical-align:top;}
.tab_master .btn_tab {display:inline-block; height:20px; width:20px; border-radius:3px; background-color:rgba(0, 0, 0, .15); vertical-align:middle; cursor:pointer;}
.tab_master .btn_tab .tab_master_ico {margin-top:6px; margin-left:6px;}
.tab_master .btn_tab.btn_txt {width:auto; padding:0 5px;}
.tab_master .btn_tab.btn_txt .txt {line-height:20px; color:#fff;}
.tab_master .btn_tab:hover {background-color:rgba(0, 0, 0, .3)}

.tab_master_ico {display:inline-block; background:url(../images/tab/tab_master.png) no-repeat;}
.tab_master_ico_left {width:7px; height:9px; background-position:left -50px;}
.tab_master_ico_right {width:7px; height:9px; background-position:-50px -50px;}



/*==================================
LNB
==================================*/
/* lnb_basic Master */
.lnb_basic {text-align:left; background-color:#FFF;}
/*.lnb_basic .lnb_wrapper {opacity:0;} 혜미 - (스크립트 반영시 LNB 보이지 않음)*/
.lnb_basic .lnb_section {width:220px; margin-bottom:15px; }
.lnb_basic .lnb_basic_btn {display:inline-block; vertical-align:middle; background-image:url("../images/lnb/lnb_basic.png");}
.lnb_basic .ban_section {width:210px;}
.lnb_basic .ban {display:block; margin-bottom:10px; }
.unfolded .lnb_basic {width:230px; position:relative; }
.unfolded .lnb_basic .lnb_wrapper {overflow:hidden;}
.folded .lnb_basic {width:0px; position:relative; }
.folded .lnb_basic .lnb_wrapper {overflow:hidden;}



/* LNB - List 영역 */
	/* lnb list Basic */
.lnb_basic .lnb_list_area {border:1px solid #e6e6e6; border-top:0; background-color:#fff;}
.lnb_basic .lnb_list> .lnb_link:hover .name,
.lnb_basic .lnb_list.selected > .lnb_link .name {color:#e60724;}
.lnb_basic .lnb_list {position:relative;}
.lnb_basic .lnb_list .btn_lower_menu {position:absolute; right:0; top:9px; width:30px; height:20px; cursor:pointer;}
.lnb_basic .lnb_list.depth4 .btn_lower_menu {top:7px;}
.lnb_basic .lnb_list .btn_lower_menu .lnb_basic_ico {margin-left:8px; margin-top:8px;}
.lnb_basic .lnb_link:hover .btn_lower_menu .lnb_basic_ico {background-position-y:-105px}
.lnb_basic .lnb_link {display:block;}

.lnb_basic .lnb_list.depth3 {border-top:1px solid #d2d4d9;}
.lnb_basic .lnb_list.depth3:first-child {border-top-width:0}
.lnb_basic .lnb_link.depth3 {padding:12px 10px;}
.lnb_basic .lnb_link.depth3 .name {font-size:13px; line-height:1.3em; color:#666; font-weight:normal; display:inline-block;}

.lnb_basic .lnb_depth4 {display:none; margin-left:10px; margin-bottom:8px;}
.lnb_basic .lnb_list.depth4 {padding:3px 0;}
.lnb_basic .lnb_list.depth4 .bullet {display:inline-block; width:5px; height:8px;  margin-left:2px; background-image:url("../images/lnb/lnb_basic.png"); background-position:0 -180px;}
.lnb_basic .lnb_link.depth4 {padding:4px 0;}
.lnb_basic .lnb_link.depth4:hover .bullet {background-position:0 -205px;}
.lnb_basic .lnb_link.depth4 .name {font-size:13px; font-weight:normal; line-height:1.3em; color:#737373;}

.lnb_basic .lnb_depth5 {display:none; margin-left:10px; margin-bottom:6px;}
.lnb_basic .lnb_list.depth5 {}
.lnb_basic .lnb_list.depth5 .bullet {display:inline-block; width:5px; height:8px; background-image:url("../images/lnb/lnb_basic.png"); background-position:-50px -180px;}
.lnb_basic .lnb_link.depth5 {padding:4px 0;}
.lnb_basic .lnb_link.depth5:hover .bullet {background-position:-50px -205px;}
.lnb_basic .lnb_link.depth5 {font-size:13px; font-weight:bold; line-height:1.3em; color:#737373; display:block; padding:5px 0;}
.lnb_basic .lnb_link .name:hover {font-weight:bold; text-decoration:none; color:#e60724;}


    /* Bullet */
.lnb_basic_bu {display:inline-block; vertical-align:middle; background:url(../images/lnb/lnb_basic_bu.png) no-repeat;}
.lnb_basic_bu_001 {width:5px; height:5px; background-position:0px 0px;}
.lnb_basic_bu_002 {width:5px; height:5px; background-position:-25px 0px;}
.lnb_basic_bu_003 {width:4px; height:6px; background-position:-50px 0px;}
.lnb_basic_bu_101 {width:3px; height:3px; background-position:0px -50px;}
.lnb_basic_bu_102 {width:4px; height:4px; background-position:-25px -50px;}
.lnb_basic_bu_103 {width:3px; height:6px; background-position:-50px -50px;}
.lnb_basic_bu + .name {vertical-align:middle;}
.lnb_list.selected > .lnb_link > .lnb_basic_bu_001,
.lnb_list.selected > .lnb_link > .lnb_basic_bu_002,
.lnb_list.selected > .lnb_link > .lnb_basic_bu_003 {background-position-y:-25px;}
.lnb_list.selected > .lnb_link > .lnb_basic_bu_101,
.lnb_list.selected > .lnb_link > .lnb_basic_bu_102,
.lnb_list.selected > .lnb_link > .lnb_basic_bu_103 {background-position-y:-75px;}

    /* Icon */
.lnb_basic .lnb_basic_ico {display:inline-block; vertical-align:middle; background:url(../images/lnb/lnb_basic.png) no-repeat;}
.lnb_basic .lnb_basic_ico_up {width:9px; height:5px; background-position:left -80px;}
.lnb_basic .lnb_basic_ico_down {width:9px; height:5px; background-position:-50px -80px;}

/* LNB - Tilte 영역 */
	/* lnb title Basic */
.lnb_basic .lnb_tit_area {display:table; box-sizing:border-box; width:100%; height:51px; padding:0 10px; background-color:#f1f1f1; border:1px solid #e6e6e6;}
.lnb_basic .lnb_tit_area .lnb_tit {display:table-cell; padding:20px 0; text-align:center; vertical-align:middle;}
.lnb_basic .lnb_tit_area .lnb_tit h2 {color:#000; font-size:18px; font-weight:bold; line-height:1.33em;}
	/* Icon Title */
.lnb_basic .lnb_tit_ico_area {display:block; text-align:center; box-sizing:border-box; height:auto; border:1px solid #4b4750; background-color:#fff;}
.lnb_basic .lnb_tit_ico_area .lnb_tit {display:block;}
.lnb_basic .lnb_tit_ico_area .lnb_tit h2 {color:#333; text-align:center;}
.lnb_basic .lnb_tit_ico_area .lnb_tit_ico {display:inline-block; width:80px; height:80px; margin:15px 0; background:url(../images/lnb/lnb_basic_ico_tit.png) no-repeat;}
.lnb_basic .lnb_tit_ico_01 {background-position:left top;}
.lnb_basic .lnb_tit_ico_02 {background-position:-100px top;}
.lnb_basic .lnb_tit_ico_03 {background-position:-200px top;}
	/* Image Title */
.lnb_basic .lnb_tit_img_area {box-sizing:border-box; height:130px; border-bottom-width:1px; background:url(../images/lnb/lnb_basic_img_tit.png) no-repeat;}
.lnb_basic .lnb_tit_img_area .lnb_tit h2 {color:#fff;}
.lnb_basic .lnb_tit_img_01 {background-position:left top;}
.lnb_basic .lnb_tit_img_02 {background-position:-250px top;}
.lnb_basic .lnb_tit_img_03 {background-position:-500px top;}

/* LNB - Option 영역 */
	/* Tab */
.lnb_basic .lnb_tab_area {margin-top:-3px; background-color:#fff;}
.lnb_basic .lnb_tab_table_inner {width:100%; table-layout: fixed; border-spacing:0; border-collapse:collapse; }
.lnb_basic .tab_list {border:1px solid #4b4750; border-bottom:3px solid #757984; border-top:0;}
.lnb_basic .tab_list:hover,
.lnb_basic .tab_list.selected {border-bottom:3px solid #e60724; }
.lnb_basic .tab_list:hover .tab_link .name,
.lnb_basic .tab_list.selected .tab_link .name {color: #e60724;}
.lnb_basic .tab_link {display:block; padding:8px 10px; text-align: center; line-height: 1.33em; cursor:pointer; white-space: nowrap; height:100%; }
.lnb_basic .tab_link .name {font-size: 13px; font-weight:bold; color:#757984; line-height: 1.33em; display:inline-block; vertical-align: middle; white-space: normal;}
	/* Search */
.lnb_basic .lnb_srch_area {margin-top:-2px; position:relative; height:34px; border-left:1px solid #4b4750; border-right:1px solid #4b4750; border-bottom:1px solid #d2d4d9; background-color:#efefef;}
.lnb_basic .lnb_srch_area .inp_txt {font-size:13px; font-weight:normal; color:#76787c; box-sizing:border-box; width:175px; height:35px; padding:0 15px; border:0; background:transparent;  outline:none;}
.lnb_basic .lnb_srch_area .lnb_basic_btn_srch {position:absolute; top:0; right:0; width:35px; height:35px; cursor:pointer; display:inline-block; vertical-align:middle; background-position:left -130px; outline:none;}
	/* Select */
.lnb_basic .lnb_sel_box {position:relative; height:35px; margin-top:-2px; border-left:1px solid #4b4750; border-right:1px solid #4b4750; background-color:#efefef;}
.lnb_basic .lnb_sel_box .cate_name {font-size:13px; font-weight:normal; line-height:35px; color:#76787c; border-bottom:1px solid #d2d4d9; display:block; padding:0 35px 0 15px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; cursor:pointer; }
.lnb_basic .lnb_cate_list_box {position:absolute; width:100%; top:35px; left:0; z-index:1; display:none;}
.lnb_basic .lnb_cate_list {border:1px solid #d2d4d9; border-top:0; }
.lnb_basic .lnb_cate_list:first-child {border-top:1px solid #d2d4d9;}
.lnb_basic .lnb_cate_list.selected .lnb_cate_link,
.lnb_basic .lnb_cate_list:hover .lnb_cate_link {background-color:#efefef; }
.lnb_basic .lnb_cate_link {display:block; padding:10px 20px; background-color:#ffffff;}
.lnb_basic .lnb_cate_link .name {font-size:13px; font-weight:normal; line-height:1.33em; color:#76787c; }
.lnb_basic .lnb_basic_btn_sel {position:absolute; right:0; top:0; width:35px; height:35px; cursor:pointer; display:inline-block; vertical-align:middle; background-position:-50px -130px;}
.lnb_basic .layer_selector.active .lnb_basic_btn_sel {background-position:-100px -130px; }

/* LNB - Tree 영역 */
.lnb_basic .lnb_list_tree_area {padding:10px; border:1px solid #4b4750; border-top:none;}


/*==================================
LNB
==================================*/
.unfolded .lnb_srch {width:210px; position:relative; }
.unfolded .lnb_srch .lnb_wrapper {overflow:hidden;}
.folded .lnb_srch {width:0px; position:relative; }
.folded .lnb_srch .lnb_wrapper {overflow:hidden;}
.lnb_srch .lnb_section {width:210px;}
.lnb_srch .ban_section {width:210px;}
.lnb_srch .ban {display:block; margin-bottom:10px; }
.lnb_srch .lnb_srch_btn {display:inline-block; vertical-align:middle; background-image:url("../images/lnb/lnb_srch.png");}


/* lnb_Fold 관련 */
#lnb_fold {position:relative;}
#lnb_fold .lnb_basic .lnb_wrapper {overflow:hidden;}
#lnb_fold .lnb_basic h2 {max-height:2.66em; overflow:hidden;}
#lnb_fold .lnb_srch .lnb_wrapper {overflow:hidden;}
#lnb_fold .lnb_srch h2 {max-height:2.66em; overflow:hidden;}
#lnb_fold {position:relative;}
	/* folder button wrap */
#lnb_fold .btn_folder_wrap {position:absolute; top:14px; right:-10px; display:inline-block; width:20px;}
#lnb_fold .lnb_wrap {float:right;}
	/* folder button */
.lnb_basic .lnb_basic_btn_folder {width:20px; height:51px; background-position:0 0;}
.folded .lnb_basic .lnb_basic_btn_folder {width:20px; height:51px; background-position: -50px 0;}
.lnb_srch .lnb_srch_btn_folder {width:20px; height:51px; background-position:0 0;}
.folded .lnb_srch .lnb_srch_btn_folder {width:20px; height:51px; background-position: -50px 0;}

/* lnb title 영역 */
.lnb_srch .lnb_tit_area {display:table; box-sizing:border-box; width:100%; height:50px; padding:0 10px; background-color:#e60724;}
.lnb_srch .lnb_tit_area .lnb_tit {display:table-cell; padding-bottom:10px; vertical-align:bottom;}
.lnb_srch .lnb_tit_area .lnb_tit h2 {color:#fff; font-size:18px; font-weight:bold; line-height:1.33em;}

/* lnb list 영역 */
.lnb_srch .lnb_list_area {background-color:#fff;}
.lnb_srch .lnb_list {vertical-align:middle;}
.lnb_srch .lnb_list .lnb_link {position:relative; display:block; font-size:13px; line-height:1.33em;}
.lnb_srch .lnb_list .lnb_link .num {padding-left:3px;}
.lnb_srch .lnb_depth3 {border:1px solid #4b4750; border-top:none;}
.lnb_srch .lnb_list .lnb_link.depth3 {border-top:1px solid #d2d4d9; }
.lnb_srch .lnb_list:first-child .lnb_link.depth3 {border-top:0;}
.lnb_srch .lnb_depth4 {padding:8px 0 8px 10px; border-top:1px solid #d2d4d9; background-color:#eef3fd;}

.lnb_srch .lnb_list .lnb_link.depth3 {color:#333; font-weight:bold; padding:8px 30px 8px 15px;}
.lnb_srch .lnb_list .lnb_link.depth4 {color:#777; padding:4px 15px; }
.lnb_srch .lnb_list .lnb_srch_bu_arr_right {display:none;}
.lnb_srch .lnb_list.selected > .lnb_link {color:#e60827;}
.lnb_srch .lnb_link:hover .name {text-decoration:underline;}

/* banner 영역 */
.lnb_srch .ban {display:block; margin-top:10px; }

    /* Icon */
.lnb_srch .lnb_srch_ico {display:inline-block; vertical-align:middle; background:url(../images/lnb/lnb_srch.png) no-repeat;}
.lnb_srch .lnb_srch_ico_up {position:absolute; right:10px; top:50%; margin-top:-3px; width:9px; height:5px; background-position:left -80px;}
.lnb_srch .lnb_srch_ico_down {position:absolute; right:10px; top:50%; margin-top:-3px; width:9px; height:5px; background-position:-50px -80px;}


/*==================================
Footer : dark
==================================*/
.footer_basic_dark {padding:15px 20px 15px; border-top:1px solid #d9d9d9; background-color:#f2f2f2;}
.footer_basic_dark:after {content:''; display:block; clear:both;}
.footer_basic_dark .footer_left {float:left;}
.footer_basic_dark .footer_left .footer_logo {display:inline-block; margin:0 40px 0 0; vertical-align:middle;}
.footer_basic_dark .footer_left .footer_logo_img {display:block;}
.footer_basic_dark .footer_left .footer_txt_area {display:inline-block; vertical-align:middle;}
.footer_basic_dark .footer_left .footer_txt_area .copyright {font-size:11px; font-weight:bold; font-style:normal; line-height:1.33em; color:#808080;}


/*==================================
Footer : light
==================================*/
.footer_basic_light {padding:15px 0 15px 0; border-top:1px solid #e0e0e0; background-color:#fff;}
.footer_basic_light:after {content:''; display:block; clear:both;}
.footer_basic_light .footer_left {float:left;}
.footer_basic_light .footer_left .footer_logo {display:inline-block; margin:0 40px 0 0; vertical-align:middle;}
.footer_basic_light .footer_left .footer_logo_img {display:block;}
.footer_basic_light .footer_left .footer_txt_area {display:inline-block; vertical-align:middle;}
.footer_basic_light .footer_left .footer_txt_area .copyright {font-size:11px; font-weight:bold; font-style:normal; line-height:1.33em; color:#a4a7a9;}


/*==================================
Footer : center_dark
==================================*/
.footer_center_dark {padding:12px 0 15px 0; border-top:1px solid #d9d9d9; background-color:#f2f2f2;}
.footer_center_dark:after {content:''; display:block; clear:both;}
.footer_center_dark .footer_center .footer_logo {text-align:center;}
.footer_center_dark .footer_center .footer_logo_img {display:inline-block;}
.footer_center_dark .footer_center .footer_txt_area {margin-top:5px; text-align:center;}
.footer_center_dark .footer_center .footer_txt_area .copyright {font-size:11px; font-weight:bold; font-style:normal; line-height:1.33em; color:#808080;}


/*==================================
Footer : footer_center_light
==================================*/
.footer_center_light {padding:12px 0 15px 0; border-top:1px solid #e0e0e0; background-color:#fff;}
.footer_center_light:after {content:''; display:block; clear:both;}
.footer_center_light .footer_center .footer_logo {text-align:center;}
.footer_center_light .footer_center .footer_logo_img {display:inline-block;}
.footer_center_light .footer_center .footer_txt_area {margin-top:5px; text-align:center;}
.footer_center_light .footer_center .footer_txt_area .copyright {font-size:11px; font-weight:bold; font-style:normal; line-height:1.33em; color:#a4a7a9;}


/*==================================
Footer : footer_family_dark
==================================*/
.footer_family_dark {padding:12px 20px 15px; border-top:1px solid #d9d9d9; background-color:#fff;}
.footer_family_dark:after {content:''; display:block; clear:both;}

/* 왼쪽 영역 */
.footer_family_dark .footer_left {float:left;}
.footer_family_dark .footer_logo {display:inline-block; margin:0 40px 0 0; vertical-align:middle;}
.footer_family_dark .footer_logo_img {display:inline-block; height:40px;}
.footer_family_dark .footer_txt_area {display:block; vertical-align:middle; text-align:center; padding:10px 0;}
.footer_family_dark .footer_txt_area .address {font-size:13px; font-weight:normal; font-style:normal; line-height:1.33em; color:#808080; margin-bottom:4px;}
.footer_family_dark .footer_txt_area .copyright {font-size:13px; font-weight:normal; font-style:normal; line-height:1.33em; color:#808080;}

/* 오른쪽 영역 */
.footer_family_dark .footer_right {float:right; padding:5px 0 0 0;}
.footer_family_dark .menu_area {display:inline-block; vertical-align:middle;}
.footer_family_dark .menu_list {display:inline-block; padding:0 20px; background:url('../images/footer/footer_family_dark_line.gif') left center no-repeat;}
.footer_family_dark .menu_list:first-child {padding-left:0; background-image:none;}
.footer_family_dark .menu_link {font-size:11px; font-weight:bold; color:#808080;}
.footer_family_dark .familysite_area {position:relative; display:inline-block; vertical-align:middle;}
.footer_family_dark .familysite_area .footer_family_dark_btn {display:block; min-width:80px; height:30px; padding:0 30px 0 15px; border-radius:15px; background-color:#dedede; cursor:pointer;}
.footer_family_dark .familysite_area .arrow {position:absolute; right:12px; top:12px; display:inline-block; width:9px; height:6px; background:url(../images/footer/footer_family_dark.png) left top;}
.footer_family_dark .familysite_area .active .arrow {background-position:left -25px;}
.footer_family_dark .familysite_area .site_more_wrap {position:absolute; bottom:30px; right:0; width:100%; z-index:10; border-radius:15px; overflow:hidden; background-color:#dedede;}
.footer_family_dark .familysite_area .site_more .site_list {border-bottom:1px solid #ccc;}
.footer_family_dark .familysite_area .site_more .site_list:hover .site_link {background-color:#cecece;}
.footer_family_dark .familysite_area .site_more .site_link {font-size:11px; font-weight:bold; color:#808080; line-height:1.33em; display:block; padding:8px 15px;}
.footer_family_dark_btn.footer_family_dark_btn_familysite .txt {font-size:11px; line-height:30px; font-weight:bold; color:#808080;}


/*==================================
Footer : footer_family_light
==================================*/
.footer_family_light {padding:12px 0 15px 0; border-top:1px solid #e0e0e0; background-color:#fff;}
.footer_family_light:after {content:''; display:block; clear:both;}

/* 왼쪽 영역 */
.footer_family_light .footer_left {float:left;}
.footer_family_light .footer_left .footer_logo {display:inline-block; margin:0 40px 0 0; vertical-align:middle;}
.footer_family_light .footer_left .footer_txt_area {display:inline-block; vertical-align:middle;}
.footer_family_light .footer_left .footer_txt_area .address {font-size:11px; font-weight:bold; font-style:normal; line-height:1.33em; color:#a4a7a9; margin-bottom:4px;}
.footer_family_light .footer_left .footer_txt_area .copyright {font-size:11px; font-weight:bold; font-style:normal; line-height:1.33em; color:#a4a7a9;}

/* 오른쪽 영역 */
.footer_family_light .footer_right {float:right; padding:5px 0 0 0;}
.footer_family_light .menu_area {display:inline-block; vertical-align:middle;}
.footer_family_light .menu_list {display:inline-block; padding:0 20px; background:url('../images/footer/footer_family_light_line.gif') left center no-repeat;}
.footer_family_light .menu_list:first-child {padding-left:0; background-image:none;}
.footer_family_light .menu_link {font-size:11px; font-weight:bold; color:#a4a7a9;}
.footer_family_light .familysite_area {position:relative; display:inline-block; vertical-align:middle;}
.footer_family_light .familysite_area .footer_family_light_btn {display:block; min-width:80px; height:30px; padding:0 30px 0 15px; border-radius:15px; border:1px solid #a4a7a9; cursor:pointer;}
.footer_family_light .familysite_area .arrow {position:absolute; right:12px; top:12px; display:inline-block; width:9px; height:6px; background:url(../images/footer/footer_family_light.png) left top;}
.footer_family_light .familysite_area .active .arrow {background-position:left -25px;}
.footer_family_light .familysite_area .site_more_wrap {position:absolute; bottom:30px; right:0; width:100%; z-index:10; overflow:hidden; border-radius:15px;  border:1px solid #a4a7a9; background-color:#fff;}
.footer_family_light .familysite_area .site_more .site_list {border-bottom:1px solid #ccc;}
.footer_family_light .familysite_area .site_more .site_list:hover .site_link {background-color:#eef3fd;}
.footer_family_light .familysite_area .site_more .site_link {font-size:11px; font-weight:bold; color:#76787c; line-height:1.33em; display:block; padding:8px 15px;}
.footer_family_light_btn.footer_family_light_btn_familysite .txt {font-size:11px; line-height:30px; font-weight:bold; color:#76787c;}


/*==================================
Board Layout
==================================*/
/* 2단 레이아웃에서 1280 기준일 때, 적용내용 */
.board_gallery .gallery_list {width:180px; height:180px;}
.board_tile_large .board_tile_list,
.board_tile_large_view .board_tile_list,
.board_tile_medium .board_tile_list,
.board_tile_medium_view .board_tile_list,
.board_tile_small_a .board_tile_list, 
.board_tile_small_b .board_tile_list {width:227px;}
.board_tile_large .post_info_area.thumb .thumb_area,
.board_tile_large_view .post_info_area.thumb .thumb_area, 
.board_tile_medium .post_info_area.thumb .thumb_area, 
.board_tile_medium_view .post_info_area.thumb .thumb_area {height:152px;}

/* 1280, Col2, LNB(Slide)  */
.folded .lay_expand .board_gallery .gallery_wrap {margin-left: -10px; overflow: hidden;}
.folded .lay_expand .board_gallery .gallery_list {width: 188px; height: 188px;}

/*1280, Col1, LNB(Cover)*/
.lay_expand_cover .board_gallery .gallery_list {width: 188px; height: 188px;}
.lay_expand_cover .board_tile_large .board_tile_list,
.lay_expand_cover .board_tile_large_view .board_tile_list,
.lay_expand_cover .board_tile_medium .board_tile_list,
.lay_expand_cover .board_tile_medium_view .board_tile_list,
.lay_expand_cover .board_tile_small_a .board_tile_list, 
.lay_expand_cover .board_tile_small_b .board_tile_list {width: 228px;}

/*1280, Col1, LNB(Top)*/
.lay_col1 .board_gallery .gallery_list {width: 188px; height: 188px;}
.lay_col1 .board_tile_large .board_tile_list,
.lay_col1 .board_tile_large_view .board_tile_list,
.lay_col1 .board_tile_medium .board_tile_list,
.lay_col1 .board_tile_medium_view .board_tile_list,
.lay_col1 .board_tile_small_a .board_tile_list, 
.lay_col1 .board_tile_small_b .board_tile_list  {width: 228px;}



.right_section {float:right;}
.left_section {float:left;}